.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #91B6B1 ;
    border-radius: 4px;
    box-shadow: 15px 15px 30px #D2E1DF; 
    color: black;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}